<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}VueAudioPlayer{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Bootstrap -->
    {#<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
    {#<link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">#}
    <link href="build/css/app.css" rel="stylesheet">
    <style>
    {% block stylesheets %}
    {% endblock %}
    </style>

    <script>
    {% block javascript_head %}
    {% endblock %}
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

</body>
</html>


Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque earum enim excepturi ipsam iure laboriosam laudantium magnam minima nam natus neque, nisi nobis obcaecati quae quia rem sequi ullam? Eius.
