{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div id="app">
    </div>
</div>
{% endblock %}

{% block javascript_head %}
    const baseUrl = "{{ url('homepage') }}";
    const appData = {{ folders | serialize('json') | raw }};
{% endblock %}

{% block javascripts %}
    <script src="/build/js/app.js"></script>
{% endblock %}
